---
import Header from '../components/Header';
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Mateo Wang</title>
  </head>
  <body>
    <h1>Mateo Wang</h1>
    <h2>Software developer and data scientist</h2>
    <a href="./resume.pdf" download="resume.pdf">Resume</a>
    <a href="mailto:hey@mateowang.dev">Email</a>
    <p>
      I'm a <b>Web Developer</b> and <b>Computer Vision researcher</b> at
      UC Santa Barbara with <b>5 years of software experience</b> and
      <b>8 hackathon wins</b>.
    </p>
    <p>
      In my spare time, I lead the project groups in UCSB's Data Science Club
      and the web development team for SBHacks, UCSB's annual hackathon, while
      scratching my own itch by building small web apps or chrome extensions
      that solve problems I personally face.
    </p>
  </body>
</html>
